fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
passlib
python-jose[cryptography]
python-multipart
email-validator
asyncpg
langchain-community
langchain-openai
openai
psycopg2-binary
faiss-cpu
pytesseract
pillow
